<footer class="py-4">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-5 col-12">
        <h3>Get In Touch</h3>
        <p>
          <a href="mailto:omima.khaled.330@gmail.com" target="_blank" class="text-light">
            <i class="fa-solid fa-envelope me-1"></i>
            omima.khaled.330@gmail.com
          </a>
        </p>
        <p>
          <a href="tel:+201064490256" target="_blank" class="text-light">
            <i class="fa-solid fa-phone me-1"></i>
            +201064490256
          </a>
        </p>
      </div>
      <div class="col-md-4 col-12 mb-3 mb-md-0">
        <a href="http://wa.me/+201064490256" class="btn btn-outline-light fs-5">Contact me</a>
      </div>
      <div class="col-md-3 col-12">
        <div class="social-media mb-2 width-auto text-md-center">
          <a href="https://www.linkedin.com/in/omima-khaled-frontend-dev" target="_blank" class="text-light">
            <i class="fa-brands fa-linkedin pe-4"></i>
          </a>
          <a href="https://www.facebook.com/omima.khaled.330/" target="_blank" class="text-light">
            <i class="fa-brands fa-facebook-f pe-4"></i>
          </a>
          <a href="http://wa.me/+201064490256" target="_blank" class="text-light">
            <i class="fa-brands fa-whatsapp"></i>
          </a>
        </div>
        <p class="m-0 text-md-center">@copyright 2022
        </p>
      </div>
    </div>
  </div>
</footer>
