<section class="intro-sec mb-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 col-12 py-5 text-center">
        <h1>{{name}}</h1>
        <p class="fs-3">{{jobTitle}}</p>
        <a href="http://wa.me/+201064490256" class="btn btn-outline-light fs-5">Contact me</a>
      </div>
      <div class="col-md-6 col-12">
        <img src="../../assets/images/portfolio-pic.jpg" alt="intro section image" class="w-100">
      </div>
    </div>
  </div>
</section>
