<section class="gallery mb-5 py-5">
  <div class="container">
    <h2 class="text-center mb-5">Portfolio</h2>
    <div class="row offset-1 mx-auto">
      <app-card class="col-lg-4 col-md-6 col-12 mb-4"></app-card>
      <app-card class="col-lg-4 col-md-6 col-12 mb-4"></app-card>
      <app-card class="col-lg-4 col-md-6 col-12 mb-4 "></app-card>
      <app-card class="col-lg-4 col-md-6 col-12 mb-4"></app-card>
      <app-card class="col-lg-4 col-md-6 col-12 mb-4"></app-card>
      <app-card class="col-lg-4 col-md-6 col-12 mb-4"></app-card>
    </div>
  </div>
</section>