<section class="skills mb-5 py-5">
  <div class="container">
    <h2 class="text-lg-center mb-5">Skills</h2>
    <p class="text-lg-center w-100 w-lg-75 mx-auto mb-5">Lorem, ipsum dolor sit amet consectetur adipisicing elit.
      Officiis deserunt
      aperiam laudantium! Ea, veritatis,
      eaque sint quaerat voluptatum nostrum dicta autem natus cupiditate tempora earum, nesciunt aliquid magnam quis!
      Vel!</p>
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-4 col-12">
        <ul class="fs-4 p-0">
          <li class="active text-lg-center  border-bottom pb-3 mb-3">My Focus</li>
          <li class="pb-3 px-lg-5">Web Development</li>
          <li class="pb-3 px-lg-5">UI Design</li>
          <li class="pb-3 px-lg-5">Mobile First</li>
          <li class="px-lg-5">Responsive Design</li>
        </ul>
      </div>
      <div class="col-lg-7 col-12 py-5">
        <app-progress></app-progress>
        <app-progress></app-progress>
        <app-progress></app-progress>
        <app-progress></app-progress>
        <app-progress></app-progress>
        <app-progress></app-progress>
        <app-progress></app-progress>
      </div>
    </div>
  </div>
</section>